body {
	font-size: 100%;
	font-family: $baseFontFamily;
	font-weight: 400;
	color: $textColorDark;
	background: white;
	padding-top: 0; // override overrides.css
}
body.toolbar,
body.toolbar-drawer { padding-top: 65px !important; } // override overrides.css

/* Links */
/*------------------------------*/
a { color: $red; }
a:visited { background: white; }
a:hover { 
	color: $red;
	text-decoration: underline; }
a:active { 
	color: $red;
	background: white; }


/* Branding */
/*------------------------------*/

.site-title {
	text-align: right;
	h1 { 
		font-size: 2.625em;
		text-transform: uppercase;
		margin: 50px 0;
		font-weight: 700;
		a { color: black; }
		a:hover { 
			color: black;
			background: inherit; }
	}
}

.site-subtitle {
	h2 {
		font-weight: 400;
		font-size: 1.5em;
		color: $cornell-primary;
		text-transform: uppercase;
		margin-top: 55px; }
}

/* Typography */
/*------------------------------*/

body {
	h1, h2, h3, h4, h5, h6 { line-height: 40px; }
}

.main-text {
	p, li  { 
		font-size: .875em;
		line-height: 1.75em; }
	h2 {
		margin: 0 0 1em;
		text-transform: uppercase;
		color: black;
		font-size: 1.5em;
		line-height: 1.25em; }
	li { margin-bottom: .5em; }
}

/* Images */
/*------------------------------*/


/* Miscellaneous */
/*------------------------------*/
.main-content {
	.caption { 
	color: $mediumGray;
	margin-top: .5em;
	font-size: .75em; }
}
.emphasize { font-size: 150%; }

/* IE8 */
/*------------------------------*/
.ie8 {
	.site-title {
		h1 { font-size: 2em; }
	}
}

/* Drupal UI bug fixes */
/*------------------------------*/
.main-content {
	header, footer { border: none; }
}
