// Cornell
// -------------------------

$cornell-primary: #4d4e53;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;


// Colors
// -------------------------

$red: #a52615;

$brown: #4e2a1a;
$darkBrown: #301a10;

$teal: #15a383;
$darkTeal: #15594a;

$lightGray: #cfcfcf;
$mediumGray: #8a8782;
$paleGray: #efebeb;

$footerText: #5d5f5f;
$footerLink: #948c88;


$textColorDark: #444;

$linkPrimary: #38818d;
$linkPrimaryHover: #113e3f;


// Fonts
// -------------------------
$baseFontFamily:        'Montserrat', sans-serif;        @import
url(http://fonts.googleapis.com/css?family=Montserrat:400,700);