/*
Syntax error: Invalid CSS after "	li { font-size: 1": expected ";", was ".em; }"
        on line 68 of _base.scss
        from line 6 of style.scss

63: 		margin: 0 0 1em;
64: 		text-transform: uppercase;
65: 		color: black;
66: 		font-size: 1.5em;
67: 		line-height: 1.25em; }
68: 	li { font-size: 1.em; }
69: }
70: 
71: /* Images */
72: /*------------------------------*/
73: 

Backtrace:
_base.scss:68
style.scss:6
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1148:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1084:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:586:in `block in declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:554:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:535:in `block'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:554:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:535:in `block'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:553:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:27:in `parse'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:342:in `_to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:274:in `to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	li { font-size: 1\": expected \";\", was \".em; }\"\A         on line 68 of _base.scss\A         from line 6 of style.scss\A \A 63: 		margin: 0 0 1em;\A 64: 		text-transform: uppercase;\A 65: 		color: black;\A 66: 		font-size: 1.5em;\A 67: 		line-height: 1.25em; }\A 68: 	li { font-size: 1.em; }\A 69: }\A 70: \A 71: /* Images */\A 72: /*------------------------------*/\A 73: "; }
